# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs
# For more information about the format and options, see: https://editorconfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Set default charset
[*.{js,jsx,ts,tsx}]
charset = utf-8

# Indentation
[*.js]
indent_style = space
indent_size = 2

# React Native specific configuration
[*.js]
max_line_length = 120
